<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">SANE @ %h</name>

  <!-- Only advertise SANE. Let CUPS itself publish per-printer DNS-SD records. -->
  <service>
    <type>_sane-port._tcp</type>
    <port>6566</port>
    <txt-record>txtvers=1</txt-record>
    <txt-record>note=Home Assistant SANE AirScan</txt-record>
    <txt-record>airscan=1</txt-record>
  </service>
</service-group>
